/*==Style cho menu===*/
#header{
 
    height: 200px;
  position: relative;
}
#header1{
 height: 200px;
 background: rgba(184, 138, 0, 0.8); 
   
    /* background-image: url('image/03-spa-tan-co-dien-06-le-tan-khu-an-chay.jpg');
  background-repeat: no-repeat;
   background-size: 100% 100%;%*/
}
/*#header2{
    position: absolute;
    top:250px;
    left: 0px;
    height: 300px;
      background: rgba(0, 0, 0, 0) url("image/triang.png") repeat-x scroll center center;
    height: 20px;
    width: 100%;
}*/
#menu{
    height: 100px;
  margin-top: 50px;
    margin-right: -50px;
    margin-left: -40px;
}
#menu ul {

  list-style-type: none;
  text-align: center;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  
 
  
}
#menu a {
  text-decoration: none;
  color: #000;
  display: block;
font-size: 20px;}
#menu a:hover {
color: #fff;
 
}
.sub-menu li {
  display: none;
}
#menu li {
 position: relative;
}
.sub-menu {
 display: none;
 position: absolute;
}
#menu li:hover .sub-menu {
 display: block;
}
.sub-menu li {
 margin-left: 0 !important;
}
